---
import DropdownTest from "../components/DropdownTest.jsx";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dropdown Test</title>
  </head>
  <body>
    <main>
      <DropdownTest client:visible />
    </main>
  </body>
</html>
