---
import GalleryHeaderTest from "../components/GalleryHeader-test.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Header Dropdown Test</title>
  </head>
  <body>
    <GalleryHeaderTest client:visible />
  </body>
</html>
