---
import BaseLayout from "@/layouts/BaseLayout.astro";
import GalleryEditorPro from "@/components/GalleryOrderer.jsx";
---

<BaseLayout title="Gallery Editor Pro">
  <div class="pt-6">
    <GalleryEditorPro client:load />
  </div>
</BaseLayout>
